DATASOURCE_JNDI=java:/MonitoringDSDS
DATASOURCE_NAME=MonitoringDSDS

DB_USER=postgres
DB_PASS=dbsecret
DB_HOST=db
DB_PORT=5432
DB_NAME=monitoring

POSTGRES_DRIVER_VERSION=42.5.4

WILDFLY_ADMIN_PASSWORD=wildsecret
